#root {
  margin: 0px;
  padding: 0px;
  text-align: center;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.weather-clear {
  background-image: url('./assets/clear.jpg');
}

.weather-rainy {
  background-image: url('./assets/rainy.jpg');
}

.weather-cloudy {
  background-image: url('./assets/cloudy.jpg');
}
